<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Templates Home">
    <meta name="Description" content="Templates Home">
    <meta name="author" content="Łukasz Kosmaty">
    <!-- Optional theme -->
    <link rel="stylesheet" href="assets/css//bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <title>Templates Home</title>
    
</head>
<body>
   
   <header>
       <div class="back"></div>
       <div class="logo">Title</div>
       
   </header>
   
   <nav>  
        <div><a class="smoothScroll" href="#zapraszamy">Sec I</a></div>
        <div><a class="smoothScroll" href="#oferta">Sec II</a></div>
        <div><a class="smoothScroll" href="#galeria">Sec III</a></div>
        <div><a class="smoothScroll" href="#cennik">Sec IV</a></div>
        <div><a class="smoothScroll" href="#okolica">Sec V</a></div>
        <div><a class="smoothScroll" href="#kontakt">Sec VI</a></div>
   </nav>
   
   <section id="first">
       <div class="container" id="zapraszamy">   
            <div class="row">
                    <h1>Sec I, HI!</h1>
                    <hr>
            </div> 
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/pawel.jpg" alt="zdjecie" class="img-responsive">
                </div>
                <div class="col-lg-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis deserunt dicta dignissimos ea expedita nemo quod repudiandae similique voluptatibus. Accusantium, aliquam atque est expedita neque sapiente voluptatibus. Adipisci asperiores atque, cumque eligendi est excepturi expedita ipsam labore maiores odio odit porro quam, quas quasi recusandae reiciendis reprehenderit tempore voluptas.</p>
                </div>
            </div>   
       </div>
    </section>
       
    <section id="second">
        <div class="container" id="oferta">
           <div class="row">
                <h1>Sec II</h1>
                <hr>
            </div>
            <div class="row">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis possimus sapiente?</p>
                <div class="col-lg-6 col-lg-offset-1">
                      <strong> Header:</strong>
                            <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                        <li>Lorem ipsum.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea esse eum ipsam possimus quibusdam sint. Blanditiis dolorum iusto sed voluptates.</p>
            </div>
        </div>
    </section>
    
    <section id="three">
        <div class="container" id="galeria">
           
            <div class="row">
                <div class="col-sm-4"><img src="assets/img/1-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/2-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/3-min.JPG" alt="img" class="img-responsive"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-4"><img src="assets/img/4-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/5-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/6-min.JPG" alt="img" class="img-responsive"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-4"><img src="assets/img/7-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/8-min.JPG" alt="img" class="img-responsive"></div>
                <div class="col-sm-4"><img src="assets/img/9-min.JPG" alt="img" class="img-responsive"></div>
            </div>
            
        </div>
    </section>
    
    <section id="six">
        <div class="container" id="cennik">
            <div class="row">
                <h1>Sec IV</h1>
            </div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur corporis distinctio dolorum fugiat incidunt ipsa, itaque laboriosam laborum magnam odit qui, quisquam sed unde voluptatum? Dolorem maxime mollitia omnis porro quidem sapiente sequi voluptates. A amet animi, at autem beatae consequatur delectus, dignissimos distinctio ducimus eos est et, facere fuga laudantium molestiae neque officia quas quasi quis sequi sunt tenetur voluptate voluptatibus. Ad cum delectus, doloremque dolorum exercitationem fugit hic iste iusto libero nam nostrum, optio porro sed suscipit?</p>
            </div>
        </div>
    </section>
    
    <section id="foure">
        <div class="container" id="okolica">
            <div class="row"><h1>Sec V</h1></div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul>
                       <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dolores excepturi facilis perferendis quae repellat saepe sunt temporibus unde?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aspernatur aut consequuntur dignissimos distinctio dolor dolore dolorum eaque facere hic itaque minima molestias non nulla omnis qui quis saepe sint ullam, vel veritatis vitae voluptatem! Laboriosam molestiae ullam voluptatem.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloribus eligendi incidunt laudantium maiores, minima porro quaerat ratione, rerum sequi sint sunt totam. Debitis, iste.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="fife">
        <div class="container" id="kontakt">
            <div class="row">
                <h1>Sec VI</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <div>
                        <h2>Lorem:</h2>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                    <div>
                        <h2>Lorem:</h2>
                        <p>lorem 100<br>Lorem ipsum dolor sit amet<br>Lorem ipsum dolor</p>
                    </div>
                    <div>
                        <h2>Number:</h2>
                        <p>112 422 545</p>
                    </div>
                    <div>
                        <h2>E-mail:</h2>
                        <p>kosmatylukasz@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-8 google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23299.646688663874!2d20.473240007518893!3d50.815658799434914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471786bf4f2404e9%3A0xce3334441d8ef632!2sZelejowa+100%2C+26-060+Ch%C4%99ciny!5e0!3m2!1spl!2spl!4v1469890746473" width="800" height="600" frameborder="0" style="border: 5px solid white;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <script src="assets/js/smoothscroll.js"></script>
     <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $(window).scroll(function(){
            
            var wScroll = $(this).scrollTop();
            
            if(wScroll >= $('header').offset().top + 600){
                $('header').css({'margin-bottom' : '50px'});
                $('nav').css({
                    'position' : 'fixed',
                    'top' : '0px',
                    'z-index' : '2'
                });
            }
            else{
                $('header').css({'margin-bottom' : '0px'});
                $('nav').css({
                    'position' : 'static'
                });
            }
            
              if(!$('#galeria img').last().hasClass('is-showing') && wScroll > $('#galeria').offset().top - ($(window).height() / 1.2)) {
                $('#galeria img').each(function(i){

                  setTimeout(function(){
                    $('#galeria img').eq(i).addClass('is-showing');
                  }, (700 * (Math.exp(i * 0.14))) - 700);
                });
              }
            
        });
    </script>

</body>
</html>