:root{
    --sliderH: 250px;
    --sliderWinner: 25px;
    --sliderWouter: 50px;
    --border-color: #8A0917;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #8A0917;
}

nav h1{
    margin: 30px auto 0;
    text-align: center;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    width: 280px;
    background: #595241;
    padding: 2px 10px;
}

.link-grid{
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (max-width: 450px) {
    .link-grid{
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .link-grid .link{
        text-align: center;
    }
}

.link-grid .link{
    padding: 2px 10px;
    color: #fff;
    font-size: 18px;
}
.link-grid .link.active{
    text-decoration: underline;
}
.link-grid .link.active:hover{
    cursor: default;
}

.link-grid .link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@supports (display: grid) {
    @media (min-width: 1200px) {
        .slider {
            padding: 60px 0;
            margin: auto;
            width: 1200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 250px;
            overflow-y: hidden;
            grid-gap: 60px;
        }
    }
    @media (max-width: 1200px) and (min-width: 600px) {

        .slider {
            padding: 60px 0;
            margin: auto;
            width: 600px;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 250px;
            overflow-y: hidden;
            grid-gap: 60px;
        }
    }
    @media (max-width: 600px) {
        .slider{
            padding: 60px 0;
        }
        .slider .slide{
            width: auto;
            height: 250px;
            margin: 0 0 40px 0;
        }
    }
}

@supports( not(display: grid)){
    .slider{
        padding: 60px 0;
    }
    .slider .slide{
        width: auto;
        height: 250px;
        padding: 0 0 40px 0;
    }
}

.slide{
    background: no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hidden{
    display: none!important;
}

.slide:hover{
    cursor: pointer;
}

.slide:hover .slide-text{
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.slide-text{
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    font-size: 40px;
    color: #efefef;
    text-align: center;
    width: 300px;
    background: #595241;
    text-transform: uppercase;
}


.slide-text-left{
    -webkit-transform: translate(-400%,-50%);
    -ms-transform: translate(-400%,-50%);
    transform: translate(-400%,-50%);
}

.slide-text-right{
    -webkit-transform: translate(400%,-50%);
    -ms-transform: translate(400%,-50%);
    transform: translate(400%,-50%);
}


.slide:after{
    content: '';
    position: absolute;
}

.slide:before{
    content: '';
    position: absolute;
}

.slide-top-left:after{
    border-right: var(--sliderWinner) solid var(--border-color);
    border-top: var(--sliderH) solid transparent;
    bottom: 0;
    right: 0;
}
.slide-bottom-left:after{
    border-right: var(--sliderWinner) solid var(--border-color);
    border-bottom: var(--sliderH) solid transparent;
    top: 0;
    right: 0;
}
.slide-top-right:after{
    border-left: var(--sliderWinner) solid var(--border-color);
    border-top: var(--sliderH) solid transparent;
    bottom: 0;
    left: 0;
}
.slide-bottom-right:after{
    border-left: var(--sliderWinner) solid var(--border-color);
    border-bottom: var(--sliderH) solid transparent;
    top: 0;
    left: 0;
}
.slide-top-left:before{
    border-left: var(--sliderWouter) solid var(--border-color);
    border-bottom: var(--sliderH) solid transparent;
    top: 0;
    left: 0;
}
.slide-bottom-left:before{
    border-left: var(--sliderWouter) solid var(--border-color);
    border-top: var(--sliderH) solid transparent;
    bottom: 0;
    left: 0;
}
.slide-top-right:before{
    border-right: var(--sliderWouter) solid var(--border-color);
    border-bottom: var(--sliderH) solid transparent;
    top: 0;
    right: 0;
}
.slide-bottom-right:before{
    border-right: var(--sliderWouter) solid var(--border-color);
    border-top: var(--sliderH) solid transparent;
    bottom: 0;
    right: 0;
}


/*canvas*/
.slide-gravity{
    background-image: url("img/Gravity.png");
}
.slide-simplemovement{
    background-image: url("img/Simple Movement.png");
}
.slide-push{
    background-image: url("img/Push.png");
}
.slide-solar{
    background-image: url("img/Solar.png");
}

/*websites*/
.slide-cswild{
    background-image: url("img/CsWild.png");
}
.slide-cswildshop{
    background-image: url("img/Sklep-CsWild.png");
}
.slide-puchar{
    background-image: url("img/Puchar-Lo5.png");
}
.slide-optima{
    background-image: url("img/Optimadoradztwo.png");
}
.slide-ctbany{
    background-image: url("img/CTBanyCsWild.pl.png");
}
.slide-lov{
    background-image: url("img/VLo.png");
}

/*vipsource*/
.slide-vsmain{
    background-image: url("img/VIP-Source-Main.png");
}
.slide-vsdemo{
    background-image: url("img/VIP-Source-Demo.png");
}
.slide-vspanel{
    background-image: url("img/VIP-Source-Panel.png");
}

/*excel*/
.slide-kwadratowydungeon{
    background-image: url("img/kwadratowydungeon.png");
}

/*templates*/
.slide-templateshome{
    background-image: url("img/TemplatesHome.png");
}
.slide-templatesportfolio{
    background-image: url("img/TemplatesPortfolio.png");
}


::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:0;
    background-color:#FFFFFF;
}
::-webkit-scrollbar{
    width:6px;
    height:6px;
    background-color: #595241;
}
::-webkit-scrollbar-thumb{
    border-radius:0;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#595241;
}